.cart-items{
    flex: 1 0 150px;
    display: flex;
    flex-direction: column;

    background-color: #ffffff;
    max-height: 700px;
    min-height: fit-content;
    padding: 30px;

    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-items *{
    width: 100%;
}

.cart-items > h2{
    font-size: 30px;
    padding-bottom: 15px;
    border-bottom: 4px solid rgb(189, 50, 8);

    color: rgb(49, 49, 49);
}

.cart-items ul{
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 120px;
    max-height: 600px;
    overflow-y: auto;

    padding: 20px;
}

.card-infos-products{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px 0;

    border-bottom: 1px solid rgb(168, 167, 167);
}

.card-infos-products div{
    display: flex;
    flex-direction: column;
    gap: 15px;

    align-items: center;
}

.card-infos-products div img{
    object-fit: cover;
    width: 120px;
}

.card-infos-products h4{
    font-size: 16px;
    color: rgb(39, 39, 39);
}

.card-infos-products span{
    font-size: 18px;
    font-weight: 600;

    color: rgb(7, 150, 7);
}

.card-infos-products button{
    padding: 8px 6px;

    font-weight: 600;
    font-size: 14px;
    
    color: rgb(248, 248, 248);
    border-radius: 3px;
    background-color: rgb(179, 19, 19);

    cursor: pointer;
    transition: all 0.2s ease-out;
}

.card-infos-products button:hover{
    background-color: rgb(216, 16, 16);
}

.total-value{
    margin-top: 20px;
    padding: 15px;

    background-color: #dbdbdb;
    color: rgb(70, 70, 70);

    text-align: end;
    font-weight: 700;
    font-size: 18px;
    color: rgb(66, 66, 66);

    border-top: 4px solid rgb(34, 161, 211);
    border-radius: 5px;
}

.empty-cart{
    color: rgb(66, 66, 66);
    font-style: italic;
    text-align: center;
}

@media (max-width: 768px){
    .main{
        flex-direction: column;
        align-items: stretch;
    }
}

@media (max-width: 480px){
    .card-infos-products {
        flex-wrap: wrap;
    }
}