.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    padding: 20px 40px;
    background-color: rgb(35, 52, 100);
}

.header h1{
    color: rgb(119, 170, 247);
}

.header-nav{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.header-nav li a{
    font-size: 18px;
    font-weight: 500;

    padding: 6px 12px;

    border-radius: 5px;
    color: rgb(248, 248, 248);
    background-color: transparent;

    transition: all 0.2s;
}

.header-nav li:hover a{
    background-color: rgb(108, 142, 233);
}

@media (min-width: 480px){
    .header{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .header-nav{
        flex-direction: row;
    }

    .header-nav li a{
        font-size: 20px;
    }
}

@media (min-width: 768px){
    .header-nav li a{
        font-size: 24px;
    }
}