.main{
    display: flex;
    gap: 60px;
    padding: 40px;
}

.products{
    flex: 3 1 0;
}

.products > h2{
    font-size: 32px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    border-bottom: 4px solid rgb(34, 161, 211);

    color: rgb(49, 49, 49);
}

.filter{
    display: flex;
    align-items: center;
    gap: 15px;
    width: fit-content;
    margin: 0 0 0 auto;
    padding: 10px 20px;


    border-radius: 5px;
    color: rgb(248, 248, 248);
    background-color: rgb(52, 130, 204);

    cursor: pointer;
    transition: all 0.3s;
}

.filter:hover{
    background-color: rgb(35, 52, 100);
}

.filter p{
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 1px;
    font-weight: 500;
}

.filter div > div{
    width: 20px;
    height: 3px;
    background-color: #ebebeb;
}

.filter div > div:not(:first-of-type){
    margin-top: 5px;
}

.content-products{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.content-products > div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;

    padding: 20px;
    color: rgb(248, 248, 248);

    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);

    max-width: 275px;
    flex: 1 0 250px;
}

.content-products > div > div{
    display: grid;
    gap: 10px;
}

.content-products > div img{
    object-fit: contain;
    max-height: 250px;
    height: 100vh;
}

.content-products > div h3{
    font-size: 20px;
    color: #2c2d2e;

    margin-top: 30px;
}

.content-products > div p{
    font-size: 16px;

    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;

    color: #585757;
}

.content-products > div button{
    background-color: rgb(22, 89, 151);
    padding: 12px 24px;
    border-radius: 5px;

    font-size: 16px;
    font-weight: 600;
    color: rgb(248, 248, 248);

    cursor: pointer;
    transition: all 0.2s ease-out;
}

.content-products > div button:hover{
    background-color: rgb(52, 130, 204);
}

.price-green{
    font-size: 24px !important;
    font-weight: 600;
    color: rgb(7, 150, 7) !important;
}

@media (max-width: 768px){
    .content-products{
        overflow-x: auto;
        flex-wrap: nowrap;
    }
}