@import 'header.css';
@import 'main.css';
@import 'cart.css';
@import 'footer.css';

*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ebeff7;
}

img{
    width: 100%;
}